#btcGraph{
    display: none;
    padding-left: 155px;
}

#ethGraph{
    display: none;
}

#ltcGraph{
    display: none;
}

#bchGraph{
    display: none;
}

.dropbtn {    
  background-color: powderblue; /* This is the natural color of the button */
  color: white;
  padding: 16px;
  font-size: 16px;
  font-family: sans-serif;
  position: absolute;

}

.dropdown {
  display: inline-block;

}

.coins{
    padding: 16px 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-family: sans-serif;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black; 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: ghostwhite; /* Color of the list within the menu when hovered */
    font-weight:bolder;
} 

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: lightgray;} /* Color of button when hovered over */