html { height: 100% }
#heading {
text-align: center;
}
.signup {
  background: #abcdef;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;
}

form {
text-align: center;

}
#username {
  margin-left: 10%;
  margin-right:10%;
  width: 80%;

}
#password {
  margin-left: 10%;
  margin-right:10%;
  width: 80%;
}
input[type="submit"] {
  width:240px;
  height:35px;
  font-size:16px;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;


}
#submit {
  margin-left: 10%;
  margin-right:10%;
  width: 80%;

}






.signup h1 {
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 43px;
  font: 600 14px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}
